.home {
    height: 100vh;
    width: 100%;
    background-color: #080710;
    padding: 20px;
}

form{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;

    label{
        display: block;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    input{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;

        ::placeholder{
            color: #e5e5e5;
        }
    }

    span {
        color: red;
    }

    button[disabled]{
        margin-top: 50px;
        width: 100%;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;      
    }

    button{   
        margin-top: 50px;
        width: 100%;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer; 
    }

    button[enabled] {
        background-color: #ffffff; 
    }
    
    
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.lang {
    display: flex;
    width: 80px;
    justify-content: space-between;
    float: right;
    
}


.en, .geo {
    width: 35px;
    height: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.en {
    background-image: url("../../../assets/images/96007.webp");
}

.geo {
    background-image: url("../../../assets/images/thumb2-georgian-metal-flag-grunge-art-asian-countries-day-of-georgia-national-symbols.jpg");
}